
@media (max-width: 576px) {
	h1 {
		background: yellow;
		font-size: small;
	}
	p{
		font-size: 10px;
		font-family: cursive;
	}
	/*creadores.html*/
.contenido{
	border: 1px solid;
	width: 600px;
	margin: 0 auto;
	display:inline-block;
	}
	.contenedor div{
		text-align: center;
	}
	.contenedor{
		background: #FFE7B0;
	}
	#creadores{
		margin: 50px auto;
	}
	#creadores > div{
		margin-top: 10px;
	}
	body{
		background: #00C49E;
	}
	.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
}
	.title{ /*titulo h1*/
	border: thin solid #585151;
	border-radius: 10px;
	padding: 20px 80px 20px 40px;
	margin: 20px auto;
	width: 60%;
	background: #003532 ;
	color: #FFFFFF;
	}
/*creadores.html*/
}

@media (min-width: 576px) {
	h1 {
		background: cyan;
	}
	p{
		font-size: 20px;
		font-family: cursive;
	}
	.contenido{
	border: 1px solid;
	text-align: center;
	margin: 0 auto;
	width: 250px;
}
/*creadores.html*/
.contenido{
	border: 1px solid;
	width: 600px;
	margin: 0 auto;
	display:inline-block;
	}
	.contenedor div{
		text-align: center;
	}
	.contenedor{
		background: #FFE7B0;
	}
	#creadores{
		margin: 50px auto;
	}
	#creadores > div{
		margin-top: 10px;
	}
	body{
		background: #00C49E;
	}
	.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
}
	.title{ /*titulo h1*/
	border: thin solid #585151;
	border-radius: 10px;
	padding: 20px 80px 20px 40px;
	margin: 20px auto;
	width: 60%;
	background: #003532 ;
	color: #FFFFFF;
	}
/*creadores.html*/
}


@media (min-width: 768px) {
	h1 {
		background: red;
	}
	p{
		font-size: 20px;
		font-family: cursive;
	}
/*creadores.html*/
.contenido{
	border: 1px solid;
	width: 600px;
	margin: 0 auto;
	display:inline-block;
	}
	.contenedor div{
		text-align: center;
	}
	.contenedor{
		background: #FFE7B0;
	}
	#creadores{
		margin: 50px auto;
	}
	#creadores > div{
		margin-top: 10px;
	}
	body{
		background: #00C49E;
	}
	.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
}
	.title{ /*titulo h1*/
	border: thin solid #585151;
	border-radius: 10px;
	padding: 20px 80px 20px 40px;
	margin: 20px auto;
	width: 60%;
	background: #003532 ;
	color: #FFFFFF;
	}
/*creadores.html*/

}


@media (min-width: 992px) {
	h1 {
		background: blue;
	}
	p{
		font-size: 20px;
		font-family: cursive;
	}
/*creadores.html*/
.contenido{
	border: 1px solid;
	width: 600px;
	margin: 0 auto;
	display:inline-block;
	}
	.contenedor div{
		text-align: center;
	}
	.contenedor{
		background: #FFE7B0;
	}
	#creadores{
		margin: 50px auto;
	}
	#creadores > div{
		margin-top: 10px;
	}
	body{
		background: #00C49E;
	}
	.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
}
	.title{ /*titulo h1*/
	border: thin solid #585151;
	border-radius: 10px;
	padding: 20px 80px 20px 40px;
	margin: 20px auto;
	width: 60%;
	background: #003532 ;
	color: #FFFFFF;
	}
/*creadores.html*/
}


@media (min-width: 1200px) {
	h1 {
		background: green;
	}
	p{
		font-size: 20px;
		font-family: cursive;
	}

/*creadores.html*/
.contenido{
	border: 1px solid;
	width: 600px;
	margin: 0 auto;
	display:inline-block;
	}
	.contenedor div{
		text-align: center;
	}
	.contenedor{
		background: #FFE7B0;
	}
	#creadores{
		margin: 50px auto;
	}
	#creadores > div{
		margin-top: 10px;
	}
	body{
		background: #00C49E;
	}
	.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
}
	.title{ /*titulo h1*/
	border: thin solid #585151;
	border-radius: 10px;
	padding: 20px 80px 20px 40px;
	margin: 20px auto;
	width: 60%;
	background: #003532 ;
	color: #FFFFFF;
	}
/*creadores.html*/
}

.estilo {
	border: 1px solid #CCC;
	border-radius: 10px;
	padding: 1em;
}

